<div class="d-flex content-center mt-5">
  <div style="width: 100%; height: 100%; font-family: Tahoma; font-size: 13pt">
    <div class="d-flex justify-content-center align-items-center">
      <div class="col-sm-2">
        <!-- miktar başlıyor -->
        <label for="amount" class="form-label">Miktar</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          placeholder=""
          required=""
          [(ngModel)]="amount"
        />
        <br />
        <!-- miktar  bitti -->
        <!-- döviz tipi  başlıyor -->
        <label for="state" class="form-label">Döviz Tipi</label>
        <select
          class="form-select"
          id="currency"
          required=""
          [(ngModel)]="currentCurrency"
        >
          <ng-container *ngFor="let currency of currencies">
            <option
              *ngIf="currency.currencyCode"
              [value]="currency.currencyCode"
            >
              {{ currency.currencyCode }} - {{ currency.currencyName }}
            </option>
          </ng-container>
        </select>
        <!-- döviz tipi  bitti -->
        <!-- dönüştürülecek birim  başlıyor -->
        <br />
        <label for="state" class="form-label">Dönüştürülecek Birim</label>
        <select
          class="form-select"
          id="state"
          required=""
          [(ngModel)]="targetCurrency"
        >
          <ng-container *ngFor="let currency of currencies">
            <option
              *ngIf="currency.currencyCode"
              [selected]="currency.currencyCode == 'TRY'"
              [value]="currency.currencyCode"
            >
              {{ currency.currencyCode }} - {{ currency.currencyName }}
            </option>
          </ng-container>
        </select>
        <!-- dönüştürülecek birim  bitti -->
        <br />
        <button type="button" class="btn btn-dark" (click)="convertCurrency()">
          Çevir
        </button>
        <br />
        <br />
        <div>{{ resultMessage }}</div>
      </div>
    </div>
  </div>
</div>
